@font-face {
    font-family: 'AveriaLibre';
    src: url('../css/fonts/Averia_Libre/AveriaLibre-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaLibre';
    src: url('../css/fonts/Averia_Libre/AveriaLibre-Light.ttf') format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'AveriaLibre';
    font-weight: bold;
    src: url('../css/fonts/Averia_Libre/AveriaLibre-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'AveriaLibre';
    font-style: italic;
    src: url('../css/fonts/Averia_Libre/AveriaLibre-Italic.ttf') format('truetype');
}

/*
@font-face {
    font-family: 'AveriaLibre';
    src: url('../css/fonts/Averia_Libre/AveriaLibre-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}
*/

@font-face {
    font-family: 'AveriaLibre';
    font-weight: bold;
    font-style: italic;
    src: url('../css/fonts/Averia_Libre/AveriaLibre-BoldItalic.ttf') format('truetype');
}

/* Set font to Averia Libre, but have to exclude 'fas' class or we break all FAS icons! */
.troika *:not(.fas):not(.fa-solid) {
    font-family: "AveriaLibre", "Signika", sans-serif;
}

.journal-sheet.journal-entry {
    font-family: "AveriaLibre", "Signika", sans-serif;
}

/*
form.troika{
    min-width: 680px;
}
*/

textarea {
    resize: none;
}

.troika header {
    height: auto;
    margin-bottom: 10px;
}

.rollable-mien:focus,
.rollable-mien:hover,
.item-quantity-up:focus,
.item-quantity-down:focus,
.item-quantity-up:hover,
.item-quantity-down:hover,
.rollable-skill-test:hover,
.rollable-skill-test:focus,
.rollable-attack-damage:hover,
.rollable-attack-damage:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
}

.profile-img {
    max-height: 150px;
    max-width: 100%;
    border: transparent !important;
    padding: 3%;
    display: block;
    margin: auto;
}

.header-grid-2col {
    display: grid;
    align-content: center;
    grid-template-columns: 20% 80%;
    gap: 1%;
    grid-template-rows: auto;
}

.name-grid-2col {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    gap: 3px;
    grid-template-rows: max-content max-content max-content max-content;
}

.grid-item-stretch-height-to-fit {
    height: 100% !important;
    display: grid !important;
    align-items: center !important;
    padding: 1%;
}

.attributes-container {
    grid-column: span 2;
    width: 90%;
    display: grid;
    align-content: center;
    grid-template-columns: 18% 25% 22% 18% 22%;
    gap: 1%;
    text-align: center;
}

.attributes-container-npc {
    grid-column: span 2;
    width: 90%;
    display: grid;
    align-content: center;
    grid-template-columns: 18% 25% 22% 22%;
    gap: 1%;
    text-align: center;
}

.attribute-container {
    display: grid;
    align-content: center;
    grid-template-columns: 40% 20% 40%;
    gap: 1%;
}

.center-aligned-input-text {
    text-align: center;
    width: 100%;
    max-width: 65px;
}

.center-aligned-input-text-small {
    text-align: center !important;
    width: 100%;
    max-width: 40px;
}

.bottom-margin-input-text {
    margin-bottom: 5%;
}

.standard-width-center-aligned-numeric-input-text {
    text-align: center;
    width: 50px;
}

.skills-and-spells-grid {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 8% 53% 8% 8% 7% 7%;
    column-gap: 1%;
    text-align: center;
}

.skills-and-spells-grid-background {
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-columns: 63% 10% 10% 10%;
    column-gap: 1%;
    text-align: center;
}

.item-sheet-skills-and-spells-grid {
    display: grid;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    grid-template-columns: 15% 15% 15% 25% 25%;
    column-gap: 1%;
    text-align: center;
}

.item-sheet-skills-and-spells-grid h4 {
    width: 100%;
}

.skills-add-buttons-grid {
    display: flex;
    justify-content: center;
    margin: 5px;
    column-gap: 15px;
}

.skills-add-button {
    margin: 5px;
    padding-bottom: 5px;
    font-style: italic;
}

.grid-header-label {
    font-weight: bold;
    border-bottom: 1px solid #782e22;
}

.bolded-label {
    font-weight: bold;
}

.all-inventory-grid {
    display: grid;
    align-content: center;
    grid-template-columns: 5% 64% 9% 7% 7%;
    gap: 1%;
    text-align: center;
}

.item-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 50px;
    border: 0px solid black;
}

.item-sheet-tall-img {
    grid-row: 1 / 4;
}

.item-sheet-horizontal-grid-2col {
    display: grid;
    grid-template-columns: auto 400px;
    align-items: center;
    justify-content: left;
    text-align: left;
    column-gap: 10px;
    row-gap: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.item-sheet-horizontal-grid-4col {
    display: grid;
    grid-template-columns: auto 50px auto 50px;
    justify-content: left;
    align-items: center;
    text-align: left;
    column-gap: 20px;
    row-gap: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.attacks-section-label {
    margin-top: 12px;
}

.sheet-body,
.sheet-body .tab .editor {
    height: auto;
    flex: auto;
}

.sheet-body {
    margin-top: 5px;
}

.troika nav.sheet-tabs {
    border-color: #782e22;
}

.troika .tabs .item {
    vertical-align: middle !important;
    line-height: inherit;
    padding: 5px 5px 5px 5px !important;
    border-radius: 5px 5px 0px 0px;
    border-color: #000;
    margin-top: 5px;
    font-weight: bold;
    min-width: 100px;

    border: #999999;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
}

.troika .tabs .item.active {
    text-shadow: none;
    font-style: italic;
    border: #000000;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.05);
    ;
}

.editor {
    height: 400px !important;
}

.monies-provisions-grid {
    display: grid;
    grid-template-columns: 55% 35%;
    column-gap: 3%;
    row-gap: 5%;
}

.provisions-grid {
    display: grid;
    margin-top: 6px;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    column-gap: 3%;
}

.attacks-section {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.attacks-section h3 {
    margin-bottom: 5px;
}

.attacks-grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 34% 8% 8% 8% 8% 8% 8% 8%;
    column-gap: 1%;
}

.attacks-grid-chat {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%;
    column-gap: 1%;
    row-gap: 0%;
    margin-left: 4%;
    margin-right: 4%;
}

.italicized {
    font-style: italic;
}

.bolded {
    font-weight: bold;
}

.attacks-grid h4 {
    margin-bottom: 0px !important;
}

.attacks-grid span {
    margin-top: 4px;
    margin-bottom: 4px;
}

.skills-and-spells-section {
    margin-top: 15px;
    padding-bottom: 10px;
}

.skills-and-spells-section h3 {
    margin-bottom: 15px;
}

.item-sheet-attack-grid {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 9% 9% 9% 9% 9% 9% 9%;
    column-gap: 1%;
}

.item-sheet-attack-grid input {
    text-align: center;
}

.skill-attack-section {
    margin-top: 5px;
}

/* override default pause icon to something fun */
#logo {
    content: url("../assets/troika-name.webp");
    height: 30px;
}

#pause {
    background: none;
}

#pause img {
    content: url(../assets/troika-pause.webp);
    opacity: 1;
}

#pause figcaption {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.solid-divider {
    border-top: 1px solid #bbb;
    margin-left: 0px;
    margin-right: 25px;
}

.labeled-input-container {
    display: flex;
    align-items: center;
}

.right-margin-5pct {
    margin-right: 5%;
}

.bold-header {
    font-weight: bold;
}

.no-underline {
    border: #000 0px !important;
}

.small-bottom-margin {
    margin-bottom: 1px;
}

.medium-bottom-margin {
    margin-bottom: 5px !important;
}

.medium-bottom-padding {
    padding-bottom: 5px !important;
}

.no-bottom-padding {
    padding-bottom: 0% !important;
}

.top-margin-10px {
    margin-top: 10px !important;
}

.bottom-margin-15px {
    margin-bottom: 15px !important;
}

.light-underline {
    border-bottom: 1px solid rgba(117, 114, 114, 0.486) !important;
}

.dark-underline {
    border-bottom: 1px solid rgba(67, 66, 66, 0.486) !important;
}


.tox-tinymce {
    height: 100%;
    min-height: 85px;
}

.special-section .editor {
    height: fit-content;
    max-height: 125px;
    min-height: 34px;
}

.special-section .editor-content {
    height: 100%;
    min-height: 55px;
    max-height: 115px;
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
    background: rgba(0, 0, 0, 0.05);
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
}

.notes-section .editor {
    height: fit-content;
    max-height: 200px;
    min-height: 34px;
}

.notes-section .editor-content {
    height: 100%;
    min-height: 75px;
    max-height: 190px;
    border: 1px solid #000;
    border-radius: 5px 5px 5px 5px;
    background: rgba(0, 0, 0, 0.05);
    margin: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
}

.center-align-div {
    text-align: center;
}

.over-burdened-message {
    font-style: italic;
    color: #782e22;
}

.modify-damage-dialog {
    display: flex;
    margin-bottom: 5%;
    gap: 2%;
    align-items: center;
    justify-content: left;
}

.weightless-flex {
    display: flex;
    gap: 0.5%;
    align-items: baseline;
    justify-content: left;
}

.mien-flex-box {
    display: flex;
    gap: 0.5%;
    margin-bottom: 0.5%;
}

.mien-flex-box input[type=numeric] {
    max-width: 50px;
    text-align: center !important;
}

.mien-flex-box input[type=text] {
    max-width: auto;
    justify-content: left;
}

.chat-damage-min-damage {
    color: #782e22;
}

.chat-damage-max-damage {
    color: darkgreen;
}