<form class="{{cssClass}}" autocomplete="off">
    <header class="">

      <div class="item-sheet-horizontal-grid-2col">

        <img class="item-img item-sheet-tall-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

        <!-- <div class="item-sheet-horizontal-grid-2col"> -->
        <div class="labeled-input-container">

          <span class="bolded-label right-margin-5pct grid-item-stretch-height-to-fit no-underline">Name:</span>
          <input name="name" type="text" value="{{item.name}}" /></h1>         
              
        </div>

        <div class="labeled-input-container">
          <span class="bolded-label right-margin-5pct grid-item-stretch-height-to-fit">Inventory Slots:</span>
          <input class="standard-width-center-aligned-numeric-input-text" name="system.inventorySlots" data-dtype="Numeric" value="{{item.system.inventorySlots}}" />
        </div>

      </div>

      <div class="item-sheet-horizontal-grid-4col">
                          
        <span class="bolded-label">Can Be Used to Attack:</span>
        <input type="checkbox" name="system.canAttack" type="text" {{checked item.system.canAttack}} data-dtype="Boolean" />

        <span class="bolded-label">Equipped:</span>
        <input type="checkbox" name="system.equipped" type="text" {{checked item.system.equipped}} data-dtype="Boolean" />

        <span class="bolded-label">Requires Two Hands:</span>
        <input type="checkbox" name="system.requiresTwoHands" type="text" {{checked item.system.requiresTwoHands}} data-dtype="Boolean" />
        
        <span class="bolded-label">Armour Provided:</span>
        <input class="standard-width-center-aligned-numeric-input-text" inputmode="numeric" name="system.armourProvided" value="{{item.system.armourProvided}}" data-dtype="Numeric"/>

      </div>

      {{#if item.system.canAttack}}
      <div>
        <hr class="solid-divider">

        <div class="item-sheet-horizontal-grid-2col">          

          <span class="bolded-label">Armour Ignored:</span>
          <input class="standard-width-center-aligned-numeric-input-text" name="system.armourIgnored" data-dtype="Numeric" value="{{item.system.armourIgnored}}" /></h1>

          <span class="bolded-label">Damage Rolls:</span>
          <div>
            
            <div class="item-sheet-attack-grid">
              <span class="bolded-label">1</span>
              <span class="bolded-label">2</span>
              <span class="bolded-label">3</span>
              <span class="bolded-label">4</span>
              <span class="bolded-label">5</span>
              <span class="bolded-label">6</span>
              <span class="bolded-label">7+</span>

              <input name="system.attack.dr1" data-dtype="Numeric" value="{{item.system.attack.dr1}}" />
              <input name="system.attack.dr2" data-dtype="Numeric" value="{{item.system.attack.dr2}}" />
              <input name="system.attack.dr3" data-dtype="Numeric" value="{{item.system.attack.dr3}}" />
              <input name="system.attack.dr4" data-dtype="Numeric" value="{{item.system.attack.dr4}}" />
              <input name="system.attack.dr5" data-dtype="Numeric" value="{{item.system.attack.dr5}}" />
              <input name="system.attack.dr6" data-dtype="Numeric" value="{{item.system.attack.dr6}}" />
              <input name="system.attack.dr7" data-dtype="Numeric" value="{{item.system.attack.dr7}}" />              
            </div>
          </div>

        </div>
      </div>
      {{/if}}
      
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab top-div-border" data-group="primary" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>